<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<body>
<h3>Error page, piece of meat!</h3>
Bla-bla-bla...

<form>
    <h1 th:value="${msg}"><th>This is Error!!!!AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaa!!!!</th></h1>
</form>

<form action="/login" method="get">
    <input type="submit" value="Log in">
</form>

<form action="/logout" method="get">
    <input type="submit" value="Log out">
</form>


</body>
</html>